# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

#### 1. Python
#### 2. R
#### 3. SQL
#### 4. Julia

### Some of the commonly used libraries used by Data Scientists include:

#### 1. NumPy
#### 2. Pandas
#### 3. Matplotlib
#### 4. scikit-learn

### | Data Science Tools |
#### | Jupyter Notebook |
#### | RStudio |
#### | Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

#### This a simple arithmetic expression to mutiply then add integers

In [ ]:
(3*4)+5

 #### This will convert 200 minutes to hours by diving by 60

In [1]:
200/60

3.3333333333333335

### **Objectives**

### List popular languages for Data Science

In [ ]:
#### -Python
#### -Julia
#### -Scala
#### -Pyth
#### -Python